<style>
  h1, h2, h3, h4 {color: green}
  a {color: greenyellow}
</style>

<div class="remote">
    <header>
      <h1 class="remote__header">Remote Aplication</h1>

      <nav class="remote__header">
        <h4>Remote Routes</h4>
  
        <ul class="remote-nav">
          <li class="remote-nav__element">
            <a routerLink="/remote-web-components">Remote Root (/remote-web-components)</a>
          </li>
          <li class="remote-nav__element">
            <a routerLink="/remote-web-components/home">
              Remote Home w/o params in path (/remote-web-components/home)
            </a>
          </li>
          <li class="remote-nav__element">
            <a routerLink="/remote-web-components/page/some_remote_id_here">
              Remote Page w params in path (/remote-web-components/page/:id)
            </a>
          </li>
          <li class="remote-nav__element">
            <a routerLink="/remote-web-components/page/some_remote_id_here/subpage">
              Remote SubPage w params in path (/remote-web-components/page/:id/subpage)
            </a>
          </li>
        </ul>
      </nav>
    </header>
  
    <div class="remote__container">
      <router-outlet></router-outlet>
    </div>
  </div>